extends layouts/_layout.pug

block variables
	- var activePage = img;
	- var activeGroup = 'none';

block title
	title Search !{page}

block content
	.app-title
		div
			h1
				img(src="resources/images/"+ img+".png", width="30px" class="mr-3")
				|  !{page}
			p Start a beautiful journey here

	.row
		.col-md-12
			.tile
				h3.tile-title Search "!{team}"
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered
							thead
								tr
									th Date
									th HomeTeam
									th Result
									th AwayTeam
							tbody
								each ele in list
									tr
										td !{ele._source.Date.substr(4.2) + "/" + ele._source.Date.substr(2,2) + "/20" + ele._source.Date.substr(0,2)}
										td !{ele._source.HomeTeam}
										td !{ele._source.FTHG} - !{ele._source.FTAG}
										td !{ele._source.AwayTeam}

block specific-js
	// Data table plugin
	script(type='text/javascript', src="resources/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="resources/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();