extends layouts/_layout.pug

block variables
	- var activePage = img;
	- var activeGroup = 'none';

block title
	title Search !{page}

block content
	.app-title
		div
			h1
				i.fa.fa-search
				|  Search
			p Start a beautiful journey here

	.row
		.col-md-12
			.tile
				h3.tile-title Result of keyword "!{search}"
				i.md-2 Found !{count} result.
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered
							thead
								tr
									th Name
									th Description
									th Brand
									th Categories
									th Type
									th Price
									th Popularity
							tbody
								each ele in list
									block variable
										- var item = ele._source
										tr
											td !{item.name}
											td !{item.description}
											td !{item.brand}
											td
												each c in item.categories
													p - !{c}
													br
											td !{item.type}
											td !{item.price}
											td !{item.popularity}

block specific-js
	// Data table plugin
	script(type='text/javascript', src="resources/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="resources/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();