extends layouts/_layout.pug

block variables
	- var activePage = img;
	- var activeGroup = 'none';

block title
	title !{page}

block content
	.app-title
		div
			h1
				img(src="resources/images/"+img+".png", width="30px" class="mr-3")
				|  !{page}
			p Start a beautiful journey here
	.row
		.col-md-12
			.tile
				h3.tile-title Search !{page}
				.tile-body
					form(action="/search" method="POST")
						.form-group
							label.control-label Team
							input.form-control(type="text", placeholder="Input team's name", name="team")
						.row
							.form-group.col-md-2
								label.control-label FromDate
								input.form-control(type="date", placeholder="2019-05-06", name="fromdate")

							.form-group.col-md-2
								label.control-label ToDate
								input.form-control(type="date", placeholder="2020-05-06", name="todate")



						input(hidden, name="page", value=page)
						input(hidden, name="img", value=img)
						

						button.btn.btn-primary(type="submit")
							i.fa.fa-fw.fa-lg.fa-check-circle
							| Search

	.row
		.col-md-12
			.tile
				h3.tile-title Statistic !{page}
				.tile-body
					form(action="/statistic" method="POST")
						if (img == 'bundesliga')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Bayern
									option Dortmund
									option Leipzig
									option M'gladbach
									option Leverkusen
									option Hoffenheim
									option Wolfsburg
									option Freiburg
									option Frankfurt
									option Hertha
									option U.Berlin
									option Schalke
									option Mainz
									option Koln
									option Augsburg
									option W.Bremen
									option Fortuna
									option Paderborn
						if (img == 'premier')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Arsenal
									option A.Villa
									option Bournemouth
									option Brighton
									option Burnley
									option Chelsea
									option Crystal
									option Everton
									option Leicester
									option Liverpool
									option ManCity
									option ManUnited
									option Newcastle
									option Norwich
									option Sheffield
									option Southampton
									option Tottenham
									option Watford
									option WestHam
									option Wolves
						if (img == 'la-liga')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option RealMadrid
									option Barcelona
									option A.Madrid
									option Sevilla
									option Villarreal
									option Sociedad
									option Granada
									option Getafe
									option Valencia
									option Osasuna
									option A.Bilbao
									option Levante
									option Valladolid
									option Eibar
									option Betis
									option Alaves
									option Celta
									option Leganes
									option Mallorca
									option Espanol
						if (img == 'ligue-1')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option PSG
									option Marseille
									option Rennes
									option Lille
									option Nice
									option Reims
									option Lyon
									option Montpellier
									option Monaco
									option Strasbourg
									option Angers
									option Bordeaux
									option Nantes
									option Brest
									option Metz
									option Dijon
									option Etienne
									option Nimes
									option Amiens
									option Toulouse
						if (img == 'serie-a')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Atalanta
									option Bologna
									option Brescia
									option Cagliari
									option Fiorentina
									option Genoa
									option Verona
									option Inter
									option Juventus
									option Lazio
									option Lecce
									option Milan
									option Napoli
									option Parma
									option Roma
									option Sampdoria
									option Sassuolo
									option Spal
									option Torino
									option Udinese
						input(hidden, name="page", value=page)
						input(hidden, name="img", value=img)

						button.btn.btn-primary(type="submit")
							i.fa.fa-fw.fa-lg.fa-check-circle
							| Statistic