extends layouts/_layout.pug

block variables
	- var activePage = img;
	- var activeGroup = 'none';

block title
	title !{page}

block content
	.app-title
		div
			h1
				img(src="resources/images/"+img+".png", width="30px" class="mr-3")
				|  !{page}
			p Start a beautiful journey here
	.row
		.col-md-12
			.tile
				h3.tile-title Search !{page}
				.tile-body
					form(action="/search" method="POST")
						.form-group
							label.control-label Team
							input.form-control(type="text", placeholder="Input team's name", name="team")

							input(hidden, name="page", value=page)
							input(hidden, name="img", value=img)
						

						button.btn.btn-primary(type="submit")
							i.fa.fa-fw.fa-lg.fa-check-circle
							| Search

	.row
		.col-md-12
			.tile
				h3.tile-title Statistic !{page}
				.tile-body
					form(action="/statistic" method="POST")
						if (img == 'bundesliga')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Bayern Munich
									option Dortmund
									option RB Leipzig
									option M'gladbach
									option Leverkusen
									option Hoffenheim
									option Wolfsburg
									option Freiburg
									option Ein Frankfurt
									option Hertha
									option Union Berlin
									option Schalke 04
									option Mainz
									option FC Koln
									option Augsburg
									option Werder Bremen
									option Fortuna Dusseldorf
									option Paderborn

						if (img == 'premier')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Arsenal
									option Aston Villa
									option Bournemouth
									option Brighton
									option Burnley
									option Chelsea
									option Crystal Palace
									option Everton
									option Leicester
									option Liverpool
									option Man City
									option Man United
									option Newcastle
									option Norwich
									option Sheffield United
									option Southampton
									option Tottenham
									option Watford
									option West Ham
									option Wolves

						if (img == 'la-liga')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Real Madrid
									option Barcelona
									option Ath Madrid
									option Sevilla
									option Villarreal
									option Sociedad
									option Granada
									option Getafe
									option Valencia
									option Osasuna
									option Ath Bilbao
									option Levante
									option Valladolid
									option Eibar
									option Betis
									option Alaves
									option Celta
									option Leganes
									option Mallorca
									option Espanol

						if (img == 'ligue-1')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Paris SG
									option Marseille
									option Rennes
									option Lille
									option Nice
									option Reims
									option Lyon
									option Montpellier
									option Monaco
									option Strasbourg
									option Angers
									option Bordeaux
									option Nantes
									option Brest
									option Metz
									option Dijon
									option St Etienne
									option Nimes
									option Amiens
									option Toulouse

						if (img == 'serie-a')
							.form-group
								label(for='exampleSelect1') Select team
								select#exampleSelect1.form-control(name="team")
									option All
									option Atalanta
									option Bologna
									option Brescia
									option Cagliari
									option Fiorentina
									option Genoa
									option Verona
									option Inter
									option Juventus
									option Lazio
									option Lecce
									option Milan
									option Napoli
									option Parma
									option Roma
									option Sampdoria
									option Sassuolo
									option Spal
									option Torino
									option Udinese

						input(hidden, name="page", value=page)
						input(hidden, name="img", value=img)
						

						button.btn.btn-primary(type="submit")
							i.fa.fa-fw.fa-lg.fa-check-circle
							| Statistic
					