extends layouts/_layout.pug

block variables
	- var activePage = img;
	- var activeGroup = 'none';

block title
	title Search !{page}

block content
	.app-title
		div
			h1
				img(src="resources/images/"+ img+".png", width="30px" class="mr-3")
				|  !{page}
			p Start a beautiful journey here

	.row
		.col-md-12
			.tile
				h2.tile-title Statistic !{page}
				.tile-body
					.table-responsive
					if (team == 'All')
						h4 !{page}
						ul
							li Num of match: !{home.count}
							li Sum of goals: !{home.sum + away.sum}
							li Average goal of one match: !{home.avg + away.avg}
					
					else
						h4 !{team}
						ul
							li Num of match: !{home.count + away.count}
							li Sum of goals: !{home.sum + away.sum}
							li Average goal of one match: !{(home.avg + away.avg)/2}		

