extends layouts/_layout.pug

block variables
	- var activePage = img;
	- var activeGroup = 'none';

block title
	title Search !{page}

block content
	.app-title
		div
			h1
				img(src="resources/images/"+ img+".png", width="30px" class="mr-3")
				|  !{page}
			p Start a beautiful journey here

	.row
		.col-md-12
			.tile
				h2.tile-title Statistic !{page}
				.tile-body
					.table-responsive
					if (team == 'All')
						h4 !{page}
						ul
							li Sum of goals:
							li Average goal of one match:
							li Max goal in one match:
							li Min goal in one match:
					
					else
						h4 !{team}
						ul
							li Win:
							li Loss:
							li Sum of goals:
							li Average goal of one match:
							li Max goal in one match:
							li Min goal in one match:			

