extends layouts/_layout.pug

block variables
	- var activePage = 'vehicle';
	- var activeGroup = 'none';

block title
	title Cập nhật thông tin phương tiện

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Phương tiện
			p Start a beautiful journey here

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				a(href="/")
					i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='/vehicle') Phương tiện
	.row
		.col-md-12
			.tile
				h3.tile-title Cập nhật/ Thêm
				.tile-body
					form(action="/vehicle" method="POST")
						.form-group
							label.control-label Hãng xe
							input.form-control(type="text", placeholder="Nhập hãng xe, loại xe", name="Brand" value=value?value.Brand:"")

						.form-group
							label.control-label Biển số
							input.form-control(type="text", placeholder="Nhập biển số", name="Number" value=value?value.Number:"")

						.form-group
							label.control-label Loại
							input.form-control(type="number", placeholder="Nhập loại", name="Type" value=value?value.Type:"" max="2" min="1")
							div Ghi chú
								ul
									li 1. Xe liên tỉnh
									li 2. Xe nội thành

							input(hidden, name="act", value=act)
							input(hidden, name="Vehicle_Id", value=value?value.Vehicle_Id:0)

						button.btn.btn-primary(type="submit")
							i.fa.fa-fw.fa-lg.fa-check-circle
							| Cập nhật
						| &nbsp;&nbsp;&nbsp;
						a.btn.btn-secondary(href="/vehicle")
							i.fa.fa-fw.fa-lg.fa-times-circle
							| Hủy